@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/Play_bold.woff") format("woff"), url("../fonts/Play_bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniSans";
  font-display: swap;
  src: url("../fonts/uni-sans-heavy.woff") format("woff"), url("../fonts/uni-sans-heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}